:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center content horizontally */
  justify-content: center;
  /* Center content vertically */
  min-width: 320px;
  min-height: 100vh;
  background-color: #12122b;
  background: linear-gradient(#12122b, rgb(0, 0, 0));
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 20px;
  /* Space between heading and form elements */
}

/* Styling for all text inputs */
input[type="text"] {
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 12px;
  background: hsl(32, 100%, 87%);
  font-family: 'Verdana', sans-serif;
  color: #00054b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;

  box-sizing: border-box;

}


button {
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: 'Verdana', sans-serif;
  color: #ffffff;
  background: linear-gradient(10deg, #6a11cb, #2575fc);
  cursor: pointer;
  width: 30%;
  /* Full width of the container */
  max-width: 400px;
  /* Maximum width to ensure it doesn't stretch too wide */
  box-sizing: border-box;
  /* Include padding and border in width calculation */
  transition: background 0.3s, transform 0.2s;
  margin: 10px 0;
  /* Margin for spacing between buttons and other elements */
}

button:hover {
  background: linear-gradient(90deg, #5a09d0, #1a54d6);
  transform: scale(1.03);
}

/* Styling for labels */
label {
  font-size: 25px;
  font-weight: 500;
  margin: 20px;
  /* Margin for spacing around labels */
}

form {
  ;
}